body {
    font-family: Arial, sans-serif;

    background-color: lightblue;

}

h2 {
    text-align: center;
}

form {
    background-color: #ffffff;
    width: 320px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

label {
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="radio"] {
    width: auto;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}